<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Repibum</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!--	<style>-->
<!--		body {-->
<!--			background-image: url('@{/images/cook_photo01.jpg}');-->
<!--		}-->
<!--	</style>-->
</head>

<body>
	<!-- navbar section-->
	<nav class="navbar navbar-expand-lg navbar-light bg-dark py-3">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">
				<h2 class="text-white pt-1">Repibum</h2>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/list}">れしぴ</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/register}">とうろく</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">ろぐあうと</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- navbar section-->

	<!-- hero section -->
	<div class="hero vh-100 d-flex align-items-center" id="home">
		<div class="container main-title py-5">
			<div class="row">
				<div class="col-lg-7 mx-auto text-center py-5">
					<h1 class="text-white pb-2">自分だけのレシピアルバムを作ろう</h1>
					<a th:href="@{/login}" class="btn btn-light me-2">はじめる</a>
				</div>
			</div>
		</div>
	</div>
	<!-- hero section -->

	<!-- Projects section -->
	<section id="projects">
		<div class="container">
			<div class="row">
				<div class="title-bar mx-auto text-center pt-2">
					<h6 class="text-primary">CHECK</h6>
					<h1 class="text-white">旬の食材</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-6">
					<div class="project">
						<img src="@{/images/vegetables01.jpg}" alt="">
						<div class="overlay">
							<div>
								<h4 class="text-white">白菜</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="project">
						<img src="@{/images/vegetables02.jpg}" alt="">
						<div class="overlay">
							<div>
								<h4 class="text-white">菜の花</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="project">
						<img src="@{/images/vegetables03.jpg}" alt="">
						<div class="overlay">
							<div>
								<h4 class="text-white">ながいも</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="project">
						<img src="@{/images/vegetables04.jpg}" alt="">
						<div class="overlay">
							<div>
								<h4 class="text-white">だいこん</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="project">
						<img src="@{/images/vegetables05.jpg}" alt="">
						<div class="overlay">
							<div>
								<h4 class="text-white">ごぼう</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="project">
						<img src="@{/images/vegetables06.jpg}" alt="">
						<div class="overlay">
							<div>
								<h4 class="text-white">キャベツ</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Projects section -->

	<!-- Service section -->
	<section id="service">
		<div class="container">
			<div class="row">
				<div class="title-bar mx-auto text-center mb-3 pt-2">
					<h6 class="text-primary">POINT</h6>
					<h1 class="text-white">ちょこっと豆知識</h1>
				</div>
			</div>
			<div class="row g-4">
				<div class="col-lg-4 col-sm-6">
					<div class="service card-effect">
						<div class="iconbox">
							<i class='bx bxs-message-rounded-dots'></i>
						</div>
						<h5 class="mt-4 mb-2">キャベツは茎の部分が甘くて美味しい</h5>
						<p>キャベツは、一般的に葉っぱを食用として利用しますが、茎の部分も捨てずに調理することができます。特に芯の部分は、甘みがあり栄養価も高いので、スープや炒め物などに加えると美味しいです。
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="service card-effect">
						<div class="iconbox">
							<i class='bx bxs-message-rounded-dots'></i>
						</div>
						<h5 class="mt-4 mb-2">パプリカはビタミンCが豊富</h5>
						<p>パプリカにはビタミンCが豊富に含まれており、普段の食事で必要なビタミンCの摂取量をカバーすることができます。</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="service card-effect">
						<div class="iconbox">
							<i class='bx bxs-message-rounded-dots'></i>
						</div>
						<h5 class="mt-4 mb-2">にんじんを食すなら油と一緒に</h5>
						<p>にんじんにはβ-カロテンが多く含まれており、油と一緒に摂取することで吸収率がアップします。</p>
					</div>
				</div>
				<!-- 追加のサービスカード... -->
			</div>
		</div>
	</section>
	<!-- Service section -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>