<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Login to Repibum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <!-- navbar section-->
   <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">
				<h2 class="text-white pt-1">Repibum</h2>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/list}">れしぴ</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/register}">とうろく</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">ろぐあうと</a></li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- navbar section-->
    
    <!-- form section -->
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post">
                <input type="text" name="loginId" placeholder="ユーザーID" />
                <input type="password" name="loginPass" placeholder="パスワード" />
                <p class="caution" th:if="${not #strings.isEmpty(error)}">ユーザーID or パスワードが違います</p>
                <button type="submit">ログイン</button>
                <p class="message">
                    登録されていませんか？ <a href="#">ーーアカウントを作成するーー</a>
                </p>
            </form>
        </div>
    </div>
    <!-- form section -->

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>
</html>
