<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<title>レシピの編集</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
	<!-- navbar section-->
	<nav class="navbar navbar-expand-lg navbar-light bg-dark py-3">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">
				<h2 class="text-white pt-1">Repibum</h2>
			</a>
			<div>
				<h1 class="me-5">レシピの編集画面</h1>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/list}">れしぴ</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/register}">とうろく</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">ろぐあうと</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- navbar section-->

	<!-- register section -->
	<div class="register-page container">
		<form class="register-form" th:action="@{/recipe/register}" method="post" th:object="${recipe}">
			<span th:errors="*{images}" class="error"></span>
			<p class="mt-2">写真：<input type="file" th:field="*{images}"></p>

			<span th:errors="*{name}" class="error"></span>
			<p class="mt-2">料理名：<input type="text" th:field="*{name}"></p>

			<span th:errors="*{detail}" class="error"></span>
			<p class="mt-2">詳細：<textarea name="detail" cols="50" rows="10" th:field="*{detail}"></textarea></p>

			<span th:errors="*{url}" class="error"></span>
			<p class="mt-2">URL：<input type="text" th:field="*{url}"></p>

			<div class="image">
				<img th:if="${recipe.images}" th:src="@{/images/{image}(image=${recipe.images})}" alt="Recipe Image">
				<p th:unless="${recipe.images}">No image available</p>
			</div>
			<div class="sentence">
				<h3 class="pt-4 pb-2" th:text="${recipe.name}"></h3>
				<div class="sentence-in">
					<h6>材料・調味料・作り方</h6>
					<p th:text="${recipe.detail}"></p>
				</div>
				<h6 class="showurl">URL：</h6>
				<a th:if="${recipe.url}" th:href="${recipe.url}" th:text="${recipe.url}"></a>
				<p th:unless="${recipe.url}"></p>
			</div>
			<button type="submit">登録する</button>
		</form>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>