<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<title>レシピの編集</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/saveRecipe.css}">
</head>

<body>
	<!-- navbar section-->
	<nav class="navbar navbar-expand-lg navbar-light bg-dark py-3">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">
				<h2 class="text-white pt-1">Repibum</h2>
			</a>
			<div>
				<h1 class="me-5">レシピの編集画面</h1>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/list}">れしぴ</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/recipe/register}">とうろく</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">ろぐあうと</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- navbar section-->

	<!-- register section -->
	<div class="register-page container">
		<form class="register-form" action="" method="post" th:object="${recipe}" enctype="multipart/form-data">
			<input type="hidden" name="id" th:field="*{id}">
			<table>
				<tr>
					<p>料理名</p>
					<input type="text" name="name" th:field="*{name}">
				</tr>
				<tr>
					<p>材料・調味料・作り方</p>
					<textarea name="detail" cols="50" rows="4" th:field="*{detail}"></textarea>
				</tr>
				<tr>
					<p>URL</p>
					<input type="text" name="url" th:field="*{url}">
				</tr>
				<tr>
					<p>写真</p>
					<input type="file" th:field="*{upfile}" id="upfile" accept="image/*" onchange="previewImage(event)">
					<br>
					<img id="imagePreview" src="#" alt="画像プレビュー" style="display: none; max-width: 300px;">
					<!-- 既存の画像がある場合、表示する -->
					<br>
					<img th:if="${recipe.images}" th:src="@{/uploads/{imageName}(imageName=${recipe.images})}"
						alt="既存の画像" style="max-width: 300px;" />

				</tr>
			</table>
			<button type="submit">保存する</button>
		</form>
	</div>
	<!-- register section -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

	<script>
		function previewImage(event) {
			const input = event.target;
			const file = input.files[0]; // 選択されたファイルを取得

			if (file) {
				const reader = new FileReader();
				reader.onload = function () {
					const img = document.getElementById('imagePreview');
					img.src = reader.result; // 読み込んだデータURLをプレビューに設定
					img.style.display = "block"; // 画像を表示
				};
				reader.readAsDataURL(file); // 画像をDataURLとして読み込む
			}
		}
	</script>
</body>

</html>